<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="author" content="Ryan Large" />
    <meta name="copyright" content="Ryan Large" />
    <meta name="description" content="A complete Node.js server." />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Gemunu+Libre&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./style.css" type="text/css" media="all" />
    <link rel="stylesheet" href="./partials/Footer/Footer.css" type="text/css" media="all" />
    <script
      defer
      src="./JavaScript/script.js"
      type="module"
      charset="utf-8"
    ></script>
    <script defer src="https://kit.fontawesome.com/a673862905.js" crossorigin="anonymous"></script>
    <title>Node.js</title>
  </head>
  <body class="flex-col">
  	<% if (user === undefined) { %>
      <%- include('./partials/Nav/Nav.html') %>
    <% } else { %>
       <%- include('./partials/LoggedIn/LoggedIn.html') %>
    <% } %>
    <%- include('./partials/Header/Header.html') %>
    <form method="post" accept-charset="utf-8" autocomplete="off">
      <label for="command">New Command</label>
      <input type="text" name="title" id="title" />
      <label for="desc">Description</label>
      <input type="text" name="desc" id="desc" />
      <button type="submit">Add</button>
    </form>
    <section class="commands-container">
      <div class="list">
    	  <% commands.forEach((item) => { %>
    	  	<div class="item">
    	  		<h2> <%= item.Title %> </h2>
    	  		<p> <%= item.Description %> </p>
    	  	</div>
          <% if (user) { %>
            <form method="post" action="/add">
              <input type="hidden" name="id" value="<%=item._id%>" />
              <button class="add-fav" type="submit">Add Fav</button>
            </form>
          <% } %>
      	<% }); %>
      </div>
    </section>
    <%- include('./partials/Footer/Footer.ejs') %>
  </body>
</html>
