<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="author" content="Ryan Large" />
    <meta name="copyright" content="Ryan Large" />
    <meta name="description" content="A complete Node.js server." />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Gemunu+Libre&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../style.css" type="text/css" media="all" />
    <link rel="stylesheet" href="../styles/dashboard.css" type="text/css" media="all" />
    <script
      defer
      src="../JavaScript/script.js"
      type="module"
      charset="utf-8"
    ></script>
    <script defer src="../JavaScript/dashboard.js"></script>
    <title>Document</title>
</head>
<body>
	<%- include('../partials/LoggedIn.html'); %>
	<%- include('../partials/Header.html'); %>
    <h1> <%= name %>'s Dashboard </h1>
    <% if (favorites.length < 1) { %>
      <h2>You have no favorite commands. <a href="/">Add Favorites</a></h2>
    <% } else { %>
      <section class="commands-container">
        <div class="list">
          <% favorites.forEach((item) => { %>
            <div class="item">
              <h2> <%= item.Title %> </h2>
              <p> <%= item.Description %> </p>
              <form method="post" action="/delete">
              	<input type="hidden" name="title" value="<%=item.Title%>" />
              	<button type="submit">Delete</button>
              </form>
            </div>
          <% }); %> 
        </div>
      </section>
      <% } %>
</body>
</html>